{% for cell in cells %}
    {% if cell.cell_type == 'markdown' %}
        {{ cell.source }}
    {% elif cell.cell_type == 'code' %}

    ``` python
    {{ cell.source }}
    ```
    {% for output in cell.outputs %}
        {% if output.output_type == 'execute_result' %}
            {% if 'image/png' in output.data %}
                ![Image Output](images/{{ output.image_name }})
            {% elif 'text/plain' in output.data %}
                {{ output.data['text/plain'] }}
            {% elif 'application/vnd.plotly.v1+json' in output.data %}
                ![Plotly Visualization Placeholder](images/plotly_placeholder.png)
            {% elif "unsupported_message" in output %}
                    > {{ output.unsupported_message }}
            {% endif %}
        {% elif output.output_type == 'display_data' %}
            {% if 'image/png' in output.data %}
                ![Image](images/{{ output.image_name }})
            {% elif 'application/vnd.plotly.v1+json' in output.data %}
                ![Static Plotly Snapshot](images/{{ output.plotly_snapshot }})
            {% endif %}
        {% endif %}
    {% endfor %}


