{% for cell in cells %}
    {% if cell.cell_type == 'markdown' %}
        {{ cell.source }}
    {% elif cell.cell_type == 'code' %}

    ``` python
    {{ cell.source }}
    ```

        {% for output in cell.outputs %}
            {% if output.output_type == 'execute_result' %}
                {% if 'image/png' in output.data %}
                    ![Output](data:image/png;base64,{{ output.data['image/png'] }})
                {% elif 'text/plain' in output.data %}
                    {{ output.data['text/plain'] }}
                {% elif output.output_type == 'execute_result' %}
                    {% if 'application/vnd.plotly.v1+json' in output.data %}
                        ![Plotly Visualization]({{ output.plotly_snapshot }})
                    {% elif 'image/png' in output.data %}
                        ![Output](data:image/png;base64,{{ output.data['image/png'] }})
                    {% elif 'text/plain' in output.data %}
                        {{ output.data['text/plain'][:500] + "..." if output.data['text/plain']|length > 500 else output.data['text/plain'] }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
